# ~/flashback
# git@github.com:Priezt/flashback.git
# https://github.com/Priezt/flashback.git
# github:Priezt ### all repositories on github for Priezt
# bitbucket:Priezt:<password> ### all repositories on bitbucket for Priezt
